<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>An Error Occurred: {{ status_text }}</title>
    </head>
    <body>
        <h1>{{ status_code }} {{ status_text }}</h1>
        <h2>Page Introuvable</h2>

    </body>
</html>
